@use "./helper/global-rules";
@use "./helper/mixin" as *;
@use "./helper/fonts";
@import "./layout/footer";
@import "./layout/header";
@include screen-size("mobile") {
  body {
    //background-color: red;
  }
}
@include screen-size("tablet") {
  body {
    //background-color: green;
  }
}
@include header();

main {
  .landing {
    background: url("./img/page-2bg.png") no-repeat, #343a40;
    background-size: cover;
    height: 600px;
    position: relative;
    // @include screen-size("tablet") {
    //   height: 456px;
    // }
    // @include screen-size("mobile") {
    //   height: 456px;
    // }
    .container {
      height: 100%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 100px;
      @include screen-size("mobile") {
        padding-bottom: 32px;
      }

      position: relative;
      .content {
        max-width: 530px;
        bottom: 70px;
        color: white;
        margin-left: calc(290px - 70px);
        @include screen-size("tablet") {
          margin-left: calc(157px - 31px);
        }
        @include screen-size("mobile") {
          margin-left: 0px;
        }
        .main-text {
          position: relative;
          h1 {
            @include Edit-font();
            color: #ffffff;
          }
          @include screen-size("mobile") {
            h1 {
              font-size: 28px;
              line-height: 36px;
            }
          }

          .landing-text {
            display: flex;
            margin-top: 13px;
            .text {
              position: relative;
              @include Edit-font("Lora", 400, 12px, 20px);
              color: #e5e5e5;
              max-width: 420px;
            }
          }
          //slide polite
          .sliderBullet {
            display: flex;
            list-style: none;
            margin-top: 62px;
            @include screen-size("mobile") {
              margin-top: 27px;
            }
            li::after {
              content: "";
              display: block;
              @include slider("not");
            }

            //active polite
            li.active {
              @include slider("active");
            }
          }
          h2 {
            color: #ffffff;
            text-transform: capitalize;
            margin-top: 13px;
            @include Edit-font("Lora", 700, 12px, 20px);
          }
          //this is the adventure words on upper the h1(landing content)
          &::after {
            content: "fashion";
            position: absolute;
            top: -40px;
            left: 0px;
            padding: 6px 10px;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 8px;
            text-transform: uppercase;
            @include Edit-font("Roboto", 400, 10px, 12px);
          }
        }
      }
    }
  }
  > .container {
    display: flex;
    display: grid;
    grid-template-columns: 215px 4fr 1fr;
    margin-top: 105px;
    @include screen-size("tablet") {
      margin-top: 37px;
    }
    @include screen-size("mobile") {
      margin-top: 46px;
    }
    //max-width: 860px;
    //max-width: 860px;
    @include screen-size("tablet") {
      grid-template-columns: 191px 5fr auto;
      max-width: 100%;
      margin-right: 0px;
      padding-left: 16px;
      //padding-left: 0px;
    }
    @include screen-size("mobile") {
      margin-right: 0px;
      grid-template-columns: 1fr;
    }

    aside {
      grid-column-start: 1;
      grid-column-end: 2;
      padding-right: 16px;
      //   margin-right: 40px;
      //   flex: 1;
      //min-width: 180px;
      @include screen-size("mobile") {
        display: none;
      }
      .date {
        span:first-child {
          position: relative;
          margin-right: 50px;
          @include screen-size("tablet") {
            margin-right: 6px;
          }
          &::after {
            content: "";
            position: absolute;
            right: -43px;
            top: 10px;
            width: 35px;
            @include screen-size("tablet") {
              width: 4px;
              right: -7px;
            }
            height: 1px;
            background-color: #c4c4c4;
          }
        }
      }
      p {
        @include Edit-font("Lora", 700, 12px, 25px);
        color: #495057;
        &:nth-child(2) {
          margin-top: 27px;
        }
      }
      //   p:first-child{

      //     font-size: 100px;
      //   }
    }
    > article {
      grid-column-start: 2;
      grid-column-end: 3;
      flex: 5.05;
      //overflow: hidden;
      @include screen-size("mobile") {
        overflow: hidden;
      }
      h2 {
        @include Edit-font("Lora", 700, 20px, 25px);
        color: #495057;
      }
      .sub-article,
      .some-text {
        font-family: "Lora";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        /* or 179% */
        margin: 22px 0px;
        color: #495057;
      }
      h3 {
        font-family: "Lora";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        /* or 156% */
        color: #495057;
      }
      figure {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, minmax(330px, 1fr));
        @include screen-size("tablet") {
          grid-template-columns: repeat(2, minmax(200px, 1fr));
        }
        @include screen-size("mobile") {
          gap: 8px;
        }
        overflow-x: hidden;
        position: relative;
        padding-bottom: 25px;
        img {
          width: 100%;
          //width: 100%;
          //width: 400px;
        }
        .sliderBullet {
          display: none;
          @include screen-size("mobile") {
            display: flex;
          }
          position: absolute;
          bottom: 0px;
          right: 50%;
          li {
            margin-right: 10px;

            width: 8px;
            height: 8px;
            background: rgba(73, 80, 87, 0.2);

            border-radius: 50%;
          }
          li.active {
            background: #495057;
          }
        }
      }
      .qoute {
        display: block;
        font-family: "Lora";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        color: #d4a373;
        margin-bottom: 20px;
      }
      .tags {
        padding-bottom: 55px;
        border-bottom: 0.5px solid #c4c4c4;
        @include screen-size("tablet") {
          padding-bottom: 30px;
        }
        @include screen-size("mobile") {
          padding-bottom: 30px;
        }

        .item {
          margin-top: 30px;
          margin-left: 32px;
          padding: 4px 8px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 10px;
          line-height: 12px;
          color: #6c757d;
          border: 1px solid #c4c4c4;
          border-radius: 4px;
        }
      }
      > .author {
        margin-top: 55px;
        margin-bottom: 105px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include screen-size("tablet") {
          margin-top: 20px;
        }
        @include screen-size("mobile") {
          margin-top: 24px;
          margin-bottom: 32px;
        }
        .author-details {
          display: flex;
          align-items: center;
          img {
            margin-right: 17px;
          }
          .name-position {
            .name {
              font-family: "Lora";
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 20px;
              color: #495057;
            }
            .position {
              font-family: "Lora";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: #495057;
            }
          }
        }
        .icon {
          li {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .main-article {
    padding-top: 116px;
    background: rgba(229, 229, 229, 0.3);
    padding-bottom: 100px;
    @include screen-size("tablet") {
      padding-top: 64px;
    }
    @include screen-size("mobile") {
      margin-top: 64px;
      padding-top: 0px;
    }
    .container {
      h2 {
        @include Edit-font("Lora", 700, 18px, 25px);
        color: #495057;
        margin-bottom: 30px;
      }
      section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        gap: 50px 20px;
        @include screen-size("tablet") {
          grid-template-columns: 1fr 1fr;
          overflow: hidden;
          grid-template-columns: 310px 310px 310px 310px;
          gap: 48px 38px;
        }
        @include screen-size("mobile") {
          grid-template-columns: 1fr;
          overflow: hidden;
          grid-template-columns: 310px 310px 310px 310px;
          //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 32px;
        }
        > article {
          border-radius: 5px;
          //background-color: white;
          position: relative;
          @include card-label();
          a {
            & > img {
              width: 100%;
            }
            @include screen-size("tablet") {
              & > img {
                height: 280px;
                object-fit: cover;
                border-radius: 5px;
              }
            }
            @include screen-size("mobile") {
              & > img {
                max-height: 350px;
                min-height: 280px;
                object-fit: cover;
                border-radius: 5px;
              }
            }
          }
          .content {
            //padding: 20px;
            .date {
              @include Edit-font("Lora", 400, 12px, 15px);
              color: #6c757d;
              margin-top: 15px;
            }
            h3 {
              @include Edit-font("Lora", 700, 18px, 25px);
              margin-top: 15px;
              color: #495057;
            }
            @include screen-size("tablet") {
              h3 {
                font-size: 24px;
                line-height: 32px;
              }
            }
            @include screen-size("mobile") {
              h3 {
                font-size: 24px;
                line-height: 32px;
              }
            }
            > p {
              @include Edit-font("Lora", 400, 12px, 20px);
              color: #6c757d;
              margin-top: 15px;
              position: relative;
              @include screen-size("tablet") {
                font-size: 14px;
              }
              @include screen-size("mobile") {
                font-size: 14px;
              }
            }
            .author {
              display: flex;
              align-items: center;
              margin-top: 40px;
              .name {
                margin-left: 17px;
                h4 {
                  @include Edit-font("Lora", 700, 12px, 20px);
                  color: #495057;
                }
                p {
                  @include Edit-font("Lora", 400, 12px, 20px);
                  color: #495057;
                }
              }
            }
          }
        }
        position: relative;
        .sliderBullet {
          display: none;
          @include screen-size("mobile") {
            display: flex;
          }
          @include screen-size("tablet") {
            display: flex;
          }
          position: absolute;
          bottom: 0px;
          right: 50%;
          li {
            margin-right: 10px;

            width: 8px;
            height: 8px;
            background: rgba(73, 80, 87, 0.2);

            border-radius: 50%;
          }
          li.active {
            background: #495057;
          }
        }
      }
    }
  }
}

//footer

.main-footer {
  > .container {
    margin-top: 0px;
  }
}
